<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
<br>
<br>
<nav th:replace="_fragments :: menu(1)"></nav>
<div class="class m-container-small m-padded-tb-massive">
    <div class="class ui error message m-padded-tb-huge">
        <div class="ui contianer">
            <h2>404</h2>
            <p>你访问的资源不存在</p>
        </div>
    </div>
</div>
<br>
<br>
<footer th:replace="_fragments :: footer"></footer>
</body>
</html>