<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>error</title>
</head>
<body>
<div th:replace="_fragments :: menu(1)"></div>
<div class="class m-container-small m-padded-tb-massive">
    <div class="class ui error message m-padded-tb-huge">
        <div class="ui contianer">
            <h2>ERROR</h2>
            <p>程序错误，请联系开发者</p>
        </div>
    </div>
</div>
<div>
    <div th:utext="'&lt;!--'" th:remove="tag"></div>
    <div th:utext="'Failed request url : '+${url}" th:remove="tag"></div>
    <div th:utext="'Exception message : '+${exception.message}" th:remove="tag"></div>
    <ul th:remove="tag">
        <li th:each="st:${exception.stackTrace}" th:remove="tag" th:utext="${st}"></li>
    </ul>
    <div th:utext="'--&gt;'" th:remove="tag"></div>
</div>
<br>
<br>
<div th:replace="_fragments :: footer"></div>
</body>
</html>